.drr-breadcrump {

    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;

}

.drr-breadcrump a {

    transition-duration: 0.1s;

}

.drr-breadcrump a:hover {

    color: #fe6b01;
    text-decoration: underline;

}

.drr-blog-header {

    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    /*background: #0a0a0a;*/
    /*background: -webkit-linear-gradient(to top right, #093028, #237A57);*/
    /*background: linear-gradient(to top right, #093028, #237A57);*/
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.drr-blog-header .left {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 30px;
    position: relative;
    z-index: 6;

}

.drr-blog-header .left h2 {

    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;

}

.drr-blog-header .left p {

    color: #cfcfcf;
    font-size: 14px;
    line-height: 22px;

}

.drr-blog-header .right {

    width: 50%;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 30px;
    position: relative;
    z-index: 5;

}

.drr-blog-header .right img {
    /*width: 100%;*/
    height: 130%; /* make the image fill the container */
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}

.drr-blog-categories {



}

.drr-blog-categories .top {



}

.drr-blogpost-title {

    display: flex;
    align-items: center;

}

.drr-blogpost-title h2 {

    font-size: 24px;
    font-weight: 400;
    margin: 30px 0;

}

.drr-blogpost-title .line {

    width: 30px;
    height: 2px;
    background-color: #fe6b01;
    margin-right: 10px;

}

.drr-blog-categories .bot {

    display: flex;
    gap: 30px;

}

.drr-blog-categories .bot .category-item {
    position: relative;
    padding: 20px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    width: 100px;
    height: 75px;
    border-radius: 200px 200px 0 0;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
}

.drr-blog-categories .bot .category-item .category-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: 0;
    transition-duration: 0.1s;
}

.drr-blog-categories .bot .category-item:hover .category-bg {

    transform: scale(1.1);

}

.drr-blog-categories .bot .category-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, #000 10%, transparent 100%);
    border-radius: inherit;
    z-index: 1;
}

.drr-blog-categories .bot .category-item.active::after {

    background: #fe6b01;
    background: linear-gradient(to top, #fe6b01 0%, #fe6b01 10%, transparent 100%);

}


.drr-blog-categories .bot .category-item i {

    font-size: 30px;

}

.drr-blog-categories .bot .category-item h3 {

    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 2;

}

.drr-blogposts-container-all {

    display: flex;
    gap: 20px;

}

.drr-blogposts-container-all .creator-info {

    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;

}

.drr-blogposts-container-all .creator-info img {

    height: 100%;
    border-radius: 100px;
    margin-right: 5px;

}

.drr-blogposts-container-all .creator-info p {

    font-size: 14px;

}

.drr-blogposts-container-all h2 {

    font-size: 24px;
    font-weight: 600;

}

.drr-blogposts-container-all p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: #333;
    text-align: justify;
}

.first {

    height: 550px;

}

.next {

    height: 550px;

}

.first .drr-blogposts-container-all {

    position: relative;

}

.first .drr-blogpost-container .blogpost-info {

    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(254, 107, 1, 0.1);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 0 10px 10px;

}

.drr-blogposts-container-all .first {

    width: 50%;

}

.drr-blogposts-container-all .first a {

    font-weight: 500;
    font-size: 18px;

}

.drr-blogposts-container-all .first .drr-blogpost-container {

    height: 550px;
    overflow: hidden;

}

.drr-blogposts-container-all .first .drr-blogpost-container .cover-img {

    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;

}

.drr-blogposts-container-all .next {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.drr-blogposts-container-all .next .drr-blogpost-container {

    width: 100%;
    height: calc(510px / 3);
    display: flex;
    box-sizing: border-box;

}

.drr-blogposts-container-all .next .drr-blogpost-container .cover-img {

    width: 100%;
    height: calc(510px / 3);
    object-fit: cover;
    border-radius: 10px 0 0 10px;

}

.drr-blogposts-container-all .next .drr-blogpost-container .left {
    width: 50%;
}

.drr-blogposts-container-all .next .drr-blogpost-container .blogpost-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    background-color: rgba(254, 107, 1, 0.1);
    border-radius: 0 10px 10px 0;
    height: calc(510px / 3);
}

.drr-blogposts-container-all .next .drr-blogpost-container .blogpost-info h2 {

    font-size: 18px;

}

.drr-blogposts-container-all .next .drr-blogpost-container .blogpost-info p {

  -webkit-line-clamp: 2;
    font-size: 14px;

}

.drr-blogposts-container-all .next .drr-blogpost-container .blogpost-info .creator-info {

    height: 20px;

}

.drr-blogposts-container-all .next .drr-blogpost-container .blogpost-info .creator-info p {

    font-size: 12px;

}

.drr-blogposts-container-all .next .drr-blogpost-container .blogpost-info a {

    font-size: 14px;
    font-weight: 500;

}

.drr-blogposts-container-all .first .cover-image-container {

    width: 100%;
    height: 300px;

}

.drr-blogposts-container-all .next .cover-image-container {

    width: 50%;

}

.drr-blogposts-container-all .cover-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.drr-blogposts-container-all .cover-category {

    padding: 5px 10px;
    background-color: rgba(254, 107, 1, 0.8);
    border-radius: 6px;
    font-size: 14px;
    color: #fff;

}

.drr-blogposts-container-all .next .cover-category {

    font-size: 10px;

}

.drr-blogposts-container-all-down {

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;

}

.drr-blogposts-container-all-down .drr-blogpost-container {

    width: calc(50% - 10px);
    height: 200px;

}

.drr-blogposts-container-all-down h2 {

    font-size: 16px;
    font-weight: 600;

}

.drr-blogposts-container-all-down p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      color: #333;
    text-align: justify;
}


.drr-blogposts-container-all-down .drr-blogpost-container {

    display: flex;

}

.drr-blogposts-container-all-down .drr-blogpost-container .cover-image-container {

    width: 50%;

}

.drr-blogposts-container-all-down .drr-blogpost-container .blogpost-info {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(254, 107, 1, 0.1);
    border-radius: 0 10px 10px 0;
    height: 200px;

}

.drr-blogposts-container-all-down .drr-blogpost-container .blogpost-info p {

    font-size: 14px;

}

.drr-blogposts-container-all-down .drr-blogpost-container .cover-image-container img {

    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;

}


.drr-blogposts-container-all-down .creator-info {

    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;

}

.drr-blogposts-container-all-down .creator-info img {

    height: 100%;
    border-radius: 100px;
    margin-right: 5px;

}

.drr-blogposts-container-all-down .creator-info p {

    font-size: 12px;

}

.drr-blogposts-container-all-down .cover-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.drr-blogposts-container-all-down .cover-category {

    padding: 5px 10px;
    background-color: rgba(254, 107, 1, 0.8);
    border-radius: 6px;
    font-size: 10px;
    color: #fff;

}

.blogpost-info {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
    justify-content: space-evenly !important;

}

.drr-blogposts-pager  button {

    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    margin: 10px 0 0;
    transition-duration: 0.1s;

}

.drr-blogposts-pager button:hover {

    color: #fe6b01;
    text-decoration: underline;

}

/* Initial loading container (centered) */
.initial-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  text-align: center;
  font-size: 1.2rem;
}

/* Spinner for initial and paginated loading */
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #fe6b01;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin-bottom: 10px;
}

/* Additional class for a larger spinner on initial load if desired */
.initial-spinner {
  width: 60px;
  height: 60px;
  border-width: 6px;
}

/* Center the loading indicator for paginated posts */
.loading-indicator {
    width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

/* Spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Styling for the apply filters button */
.apply-filters-btn {
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.2s;
    background-color: transparent;
    color: #0a0a0a;
    font-size: 14px;
}

.apply-filters-btn:hover {
    color: #d95c00;
}


.apply-filters-btn i {

    color: #fe6b01;

}


/*
*
*
*
*
*
*
*
*
*
*/


.single-blog-header {

    width: 100%;
    height: 350px;
    border-radius: 10px;
    display: flex;
    background: #232526;
    background: -webkit-linear-gradient(to left, #414345, #232526);
    background: linear-gradient(to left, #414345, #232526);
    box-sizing: border-box;
    padding: 30px;
    align-items: flex-end;
    overflow: hidden;
}

.single-blog-header h2 {

    font-weight: 500;
    color: #fff;
    font-size: 46px;
    line-height: 56px;

}

.single-blog-header .overlay {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);

}

.single-blog-container {



}

.single-blog-container .short-desc {

    padding: 20px 0 0;
    font-size: 18px;
    line-height: 22px;

}

.single-blog-container .creator-info {

    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.single-blog-container .creator-info img {

    height: 100%;
    border-radius: 100px;
    margin-right: 5px;

}

.single-blog-container .creator-info p {

    font-size: 14px;

}

.single-blog-container .single-blog-html-container {

    margin: 30px 0;

}

.single-blog-container .created-at {

    margin-bottom: 20px;

}

.single-blog-container .back-button {

    transition-duration: 0.1s;

}

.single-blog-container .back-button:hover {

    color: #fe6b01;
    text-decoration: underline;

}