.drr-breadcrump {

    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 10px;

}

.drr-blog-header {

    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    /*background: #0a0a0a;*/
    /*background: -webkit-linear-gradient(to top right, #093028, #237A57);*/
    /*background: linear-gradient(to top right, #093028, #237A57);*/
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.drr-blog-header .left {

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 30px;
    position: relative;
    z-index: 6;

}

.drr-blog-header .left h2 {

    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;

}

.drr-blog-header .left p {

    color: #cfcfcf;
    font-size: 14px;
    line-height: 22px;

}

.drr-blog-header .right {

    width: 50%;
    height: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 30px;
    position: relative;
    z-index: 5;

}

.drr-blog-header .right img {
    /*width: 100%;*/
    height: 130%; /* make the image fill the container */
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}

.drr-blog-categories {



}

.drr-blog-categories .top {



}

.drr-blogpost-title {

    display: flex;
    align-items: center;

}

.drr-blogpost-title h2 {

    font-size: 24px;
    font-weight: 400;
    margin: 30px 0;

}

.drr-blogpost-title .line {

    width: 30px;
    height: 2px;
    background-color: #fe6b01;
    margin-right: 10px;

}

.drr-blog-categories .bot {

    display: flex;
    gap: 30px;

}

.drr-blog-categories .bot .category-item {
    position: relative;
    padding: 20px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: #fff;
    width: 100px;
    height: 75px;
    border-radius: 200px 200px 0 0;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
}

.drr-blog-categories .bot .category-item .category-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    z-index: 0;
    transition-duration: 0.1s;
}

.drr-blog-categories .bot .category-item:hover .category-bg {

    transform: scale(1.1);

}

.drr-blog-categories .bot .category-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000 0%, #000 10%, transparent 100%);
    border-radius: inherit;
    z-index: 1;
}

.drr-blog-categories .bot .category-item.active::after {

    background: #fe6b01;
    background: linear-gradient(to top, #fe6b01 0%, #fe6b01 10%, transparent 100%);

}


.drr-blog-categories .bot .category-item i {

    font-size: 30px;

}

.drr-blog-categories .bot .category-item h3 {

    font-size: 16px;
    font-weight: 500;
    position: relative;
    z-index: 2;

}

.drr-blogposts-container {

    display: flex;
    gap: 20px;

}

.drr-blogposts-container .creator-info {

    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;

}

.drr-blogposts-container .creator-info img {

    height: 100%;
    border-radius: 100px;
    margin-right: 5px;

}

.drr-blogposts-container .creator-info p {

    font-size: 14px;

}

.drr-blogposts-container h2 {

    font-size: 24px;
    font-weight: 600;

}

.drr-blogposts-container p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  color: #333;
    text-align: justify;
}

.first .drr-blogpost-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.drr-blogposts-container .first {

    width: 50%;

}

.drr-blogposts-container .first a {

    font-weight: 500;
    font-size: 18px;

}

.drr-blogposts-container .first .drr-blogpost-container {

    height: 550px;
    overflow: hidden;

}

.drr-blogposts-container .first .drr-blogpost-container .cover-img {

    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;

}

.drr-blogposts-container .next {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.drr-blogposts-container .next .drr-blogpost-container {

    width: 100%;
    display: flex;
    box-sizing: border-box;

}

.drr-blogposts-container .next .drr-blogpost-container .cover-img {

    width: 100%;
    height: calc(510px / 3);
    object-fit: cover;
    border-radius: 10px;

}

.drr-blogposts-container .next .drr-blogpost-container .left {
    width: 50%;
}

.drr-blogposts-container .next .drr-blogpost-container .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
}

.drr-blogposts-container .next .drr-blogpost-container .right h2 {

    font-size: 18px;

}

.drr-blogposts-container .next .drr-blogpost-container .right p {

  -webkit-line-clamp: 2;
    font-size: 14px;

}

.drr-blogposts-container .next .drr-blogpost-container .right .creator-info {

    height: 20px;

}

.drr-blogposts-container .next .drr-blogpost-container .right .creator-info p {

    font-size: 12px;

}

.drr-blogposts-container .next .drr-blogpost-container .right a {

    font-size: 14px;
    font-weight: 500;

}

.drr-blogposts-container .first .cover-image-container {

    width: 100%;

}

.drr-blogposts-container .next .cover-image-container {

    width: 50%;

}

.drr-blogposts-container .cover-overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.drr-blogposts-container .cover-category {

    padding: 5px 10px;
    background-color: rgba(254, 107, 1, 0.8);
    border-radius: 6px;
    font-size: 14px;
    color: #fff;

}

.drr-blogposts-container .next .cover-category {

    font-size: 10px;

}